<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h7>welcome to home</h7>

<h1>My project</h1>
<table>
	<caption>Results</caption>
	<thead>
		<tr>
			<th>#</th>
			<th>Time before processing (T1)</th>
			<th>Time after processing (T2)</th>
			<th>Processing Time (T2 - T1)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>=></td>
			<td><%= @t1 %></td>
			<td><%= @t2 %></td>
			<td><%= @t3 %></td>
		</tr>
	</tbody>
</table>
